body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 18px;
}

header, h1, footer {
background-color: orange;
}

.site-title {
    color: green;
}

ul {
    list-style: square;
}