
.wrapper {
    max-width: 300px;
    margin: auto;
}

/* removes bullet point from list of facts */
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}
nav li {
    display: inline;
    width: 100px;
    text-align: center;
    border-right:1px solid black;
}

nav li a {
    display: inline-block;
    padding: 8px;
    background-color: #D5E8E6;
}

/* Add backgroound color to the web and change font style */
body {
    background-color: #A9D3CE;
    font-family: Arial, Helvetica, sans-serif
}
    body{
        background-image: ;
        background-position: 55% 55%;
        background-size: cover;
        margin: 0;
      }
      
      header {
        padding: 20px;
        text-align: center;
        text-transform: uppercase;
        background: rgba(0,0,0,0.5);
        color: #fff
      }

      input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }

      input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }

      input[type=textarea] {
        width: 100%;
        padding: 60px 20px;
        margin: 8px 0px;
        box-sizing: border-box;
      }