
.wrapper {
    max-width: 300px;
    margin: auto;
}


header {
    padding: 125px;
    background-image: url(../images/lone-starfish-wide.jpg);
    background-position: top center;
    background-repeat: no-repeat;
    background-size: auto;
    text-align: center;
    font-size: 65px;
    color: #fff
    
  }

  /* The navbar container */
  .wrapper {
      overflow: hidden;
      background-color: #D5E8E6;
  }

  /* Remove default bullets*/
  nav ul li{
      list-style-type: none;
      margin: 0;
      padding: 0;
  }

  /* Add a black right border to all list items, except the last item (last-child) */
.wrapper a {
      border-right: 1px solid black;
  }
.wrapper a: last-child {
      border-right: none;
  }

/* Navbar links and style */
.wrapper a {
    float: left;
    display: inline-block;
    background-color: #D5E8E6;
    text-align: center;
    padding: 20px 19px;
    text-decoration: none;
}


/* Add backgroound color to the web and change the font */
body {
    background-color: #A9D3CE;
    font-family: Arial, Helvetica, sans-serif
}
    
main {
    background-color: #D5E8E6;
    width: 920px;
    padding: 50px;
    margin: auto;

    text-align: left;
}
      

      input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }

      input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }

      input[type=textarea] {
        width: 100%;
        padding: 60px 20px;
        margin: 8px 0px;
        box-sizing: border-box;
      }

      footer {
        background-color: #D5E8E6;
        text-align: right;
        width: 920px;
        padding: 50px;
        margin: auto;
      }