/* Add structural style to header*/
header {
    position: relative;
    text-align: center;
    font-size: 60px;
    color: #fff;
    height: 341px;
  }

  header h1 {
    position: absolute;
  }

  .wrapper {
    margin: auto;
    width: 920px;

  }
/* The navbar container */
  /* .topnav {
    width: 100%;  
    max-width: 920px;
    margin: auto;
  } */

/* Remove default bullets and create horizontal nav bar*/

/* Change font style*/
    nav a {
        text-decoration: none;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 21px;
        font-style: normal;
        font-weight: normal;
        text-transform:capitalize;
        letter-spacing: normal;
        text-align: center;
        color: black
    }

/* Add structural style to the nav bar*/
    nav {
       
    }

    nav ul {
        width: 100%;
        padding-left: 0;
    }

    nav ul li {
    display: inline-block;
    width: 30%;
    text-align: center;
    }
  

/* Add a black right border to all list items, except the last item (last-child) */
  nav ul li {
      border-right: 1px solid black;
  }
  nav ul li:last-child {
      border-right: none;
    }


/* Add backgroound color to the web and change the font */
body {
    background-color: #A9D3CE;
    font-family: Arial, Helvetica, sans-serif
}


/* Add sizes and color palettet */  
main {
    background-color: #D5E8E6;
    color: black;
    width: 920px;
    padding: 50px;
    margin: auto;
    text-align: left;
}


/* Add sizes and position to an image */  
main img {
    float: left;
    padding: 10px;
    width: 250px;
    height: 250px;
    object-fit: cover;
  }

      input[type=text] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }

      input[type=email] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        box-sizing: border-box;
      }

      input[type=textarea] {
        width: 100%;
        padding: 12px 20px;
        margin-top: 6px;
        margin-bottom: 5px;
        height: 120px;
        box-sizing: border-box;
        
      }

/* Change the radio bullets position*/
      .radio {
        float: left;
        text-align: right;
      }
      
/* Change submision buttom size */ 
      input[type=submit] {
        width: 8%;
        padding: 12px 8px;
        margin: auto;
        background-color: #D5E8E6;
      }

/* Change submision buttom position */  
      input[type=submit] {
      float:left;
      position:relative;
      left: -145px;
      top: 35px;
      
      }

/* Change Fieldset size */  
      fieldset {
        padding: 45px 15px;

      }
    

/* change the background and resize the footer */ 
      footer {
        background-color: #D5E8E6;
        text-align: right;
        width: 920px;
        padding: 50px;
        margin: -3em auto 0em;
      }
