/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



***************************************************

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

/*Defines margin and width*/
body .wrapper {
  padding: 0.8rem;
  margin: auto;
}

header {
  background-color: #222;
}

/*Adding color and font style to the navigation bar */
nav {
  background-color: #c78c06;
  font-weight: bold;
  font-size: 13px;
}

li {
  padding: 15px;
}

a {
  text-decoration: none;
}

/*Defines the first item in different color and the others in the same */
nav ul li:nth-child(n+2), nav form{
  background-color: #222;
}

nav ul li:nth-child(1) a{
  color:#222;
}

nav ul li:nth-child(n+2) a{
  color:#c78c06;
}


nav ul, nav form {
  text-align: center;
}

/*Defines the align of the seachbar, in the same row as the other nav items */
form {
  display: flex;
}

/*adding style to the form*/
nav form input {
  width: 95%;
  font-size: 11px;
  border: 1px solid #c78c06;
}

form button {
    font-size: 13px;
    background-color: #222;
    color: #c78c06;
    border: 1px solid #c78c06;
}

nav img {
  width: 60px;
  height: 60px;
}


/*Defines a background in the main section, with no repetition */
main {
  background-image: url(../images/main-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

/*Defines the transparency of background color */
/*------OPACITY BACKGROUND IS NOT WORKING ???-----*/
#main-banner {
  background-color: rgba(0, 0, 0);
  opacity: 0.6;
  width: 100%
  }
  
/*Adding style to the text content */
main h1 {
  font-size: 55px;
  font-weight: bold;
  line-height: 1.5;

}

main p {
  margin-top: 30px;
  font-size: 11px;
  font-weight: bold;
}

/*adding color and measure to the link bottom */
main .wrapper .button {
  font-size: 15px;
  color: #222;
  background-color: #c78c06;
  padding: 24px 22px;
  text-decoration: none;
  font-weight: bold;
  display:inline-block;
  margin-top: 15px;
}

/*adding style to the icon */
main .wrapper .fa-solid {
  font-size: 17px;
  font-weight: bold;
  color: black;
  background-color: #c78c06;
  margin-left: 5px;
 
}

/*setting style with margin, color and weight font */
#about {
  background-color: rgb(243, 222, 182);
  margin: auto;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}

p {
  font-size: 13px;
  line-height: 2;
}

/*width at 100% will be the same as the container in the web */
#about img {
  width: 100%;
  height: auto;
}

/*adding style to the services */
.multiple-services {
  margin-bottom: 20px;
  background-color: rgb(243, 222, 182);
  padding-bottom: 35px;
}

.multiple-services h3{
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.multiple-services p {
  font-weight: bold;
  padding: 10px;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.multiple-services img {
  width: 100%;
  height: auto;
}

.multiple-services .button-services {
  padding: 20px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  background-color: #222;
  color: white;

}

.multiple-services .fa-solid {
  margin-left: 10px;
  color: white;
  font-size: 20px;

}

/*Adding a background image */
#our-vision {
  background-image: url(../images/vision.jpg);
  background-size: 100% auto;
  color: white;
  height: 210px;
}

/*Defines the and size, color and transparency of the buttom */
.vision-button {
font-size: 13px;
background-color: black;
opacity: 0.6;
color: white;
border: 1px solid #c78c06;
margin-top: 10px;
padding: 15px;
}

/*Defines the style and responsive to all elements inside the team box */
.team-box {
  display: grid;
}

.team-persona img {
  width: 100%;
  height: auto;
}


.team-persona .john-bio {
  background-color: rgb(243, 222, 182);
  margin-bottom: 20px;
  padding: 15px;
}

.team-persona .bob-bio {
  background-color: rgb(243, 222, 182);
  margin-bottom: 20px;
  padding: 15px;
}

.team-persona h3 {
  font-size: 25px;
  font-weight: bold;
}

.team-persona h5 {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
}

.team-persona p {
  font-size: 11px;
}

/*Adding color to the line (hr) above the paragraph*/
.team-persona hr {
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #c78c06;
}

/*The flex property sets the flexible length (column) on the form items*/
#contact-us form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  row-gap: 10px;
}

/*changing the font style */
#contact-us h2 {
  font-weight: bold;
  font-size: 35px;
  margin-top: 10px;
}

/*changing the font style */
#contact-us h3 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 15px;
}

/*adding the width and the space to the form */
#contact-us input {
  padding-bottom: 10px;
  width: 100%;
}

/*changing only the height of the message imput */
#contact-us input[id=message] {
  height: 150px;
}

/*changing the submit buttom style, eliminating the margin and padidng and adding some color*/
#contact-us input[type=submit] {
  width: max-content;
  padding: 0;
  background-color: #222;
  color: #c78c06;
  font-size: 16px;
}

/*changing the font size and style*/
#hours-of-operation h2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: -15px;
}

/*adding the table's size, border and font style*/
table {
border: 1px solid #222;
width: 100%;
height: 100px;
text-align: left;
font-size: 11px;

}

/*adding the color to the head row and style to the content*/
table thead {
  background-color: rgb(243, 222, 182);
  height: 20px;
  text-align: center;
}

/*adding the black border to the entire tablet*/
table, th, td {
  border: 1px solid #222;
}

/*adding margin and padding to a row */
tr {
  line-height: 30px;
  text-indent: 15px;
}

/*changing the map size to fit better on mobile screen  */
#location iframe {
  width: 100%;
  height: 300px;
}

#location h2 {
  margin-top: -10px;
  font-weight: bold;
  font-size: 20px;

}

/*styling the footer, adding some colort*/
footer {
  background-color:#222;
  color: #c78c06;
}

/*link in the same font color as paragraph*/
footer a {
  color: #c78c06;
}

/*changing the paragraph font size*/
footer p {
  font-size: 10px;
}


/*Responsive website: Adding media query for screen equal or above to 800px wide*/
@media screen and (min-width: 800px){

  /*Navigation section with links in one line*/
 
  nav {
    justify-content:space-between;
    align-items: center;
    display: flex;
    background-color: #222;
    padding: 20px;
  }

  nav ul {
    display: flex;
    text-align: center;
  }

   /*Adding style to the First link selected*/
  nav ul li:first-child {
    background-color: #c78c06;
    width: 70px;
    height: 15px;
  }

  main .wrapper{
    background-size: 100%;
  }


   /*Adding style to the font in heading and paragraph*/
  main h1 {
    font-size: 75px;
    font-weight: bold;
    line-height: 1;
    margin-left: 320px;
  }
  
  main p {
    margin-top: 30px;
    font-size: 15px;
    font-weight: bold;
    margin-left: 320px;
  }

  main .button {
    margin-left: 320px;
  }

   /*Moving text content to align with the image*/
  #about .wrapper {
    display: flex;
    flex-direction: row;
    height: 250px;
    width: 1200px;
    margin-left: 320px;
   
  }

  #about h2 {
    display:inline;
    margin-bottom: 30px;
    padding: 10px;
  }

  #about p {
    display: inline-block; 
    width: 100%;
    margin:0 auto;
    zoom: 1; 
    margin-top: 100px;
    margin-left: -90px;
  }

/*Creating a grid template to align later the services*/
.services {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr ;
  column-gap: 10px;
  width: 1200px;
  margin-left: 320px;
}

#services h2 {
  margin-left: 320px;
}

 /*Moving services in the grid with 2rows and 6 columns*/
.multiple-services:first-child {
  grid-row: 1 / 2;
  grid-column: 1 / 4;
}

.multiple-services:nth-child(2) {
  grid-row: 1 / 2;
  grid-column: 4 / 7;
}

.multiple-services:nth-child(3) {
  grid-row: 2 / 3;
  grid-column: 1 / 3;
}

.multiple-services:nth-child(4) {
  grid-row: 2 / 3;
  grid-column: 3 / 5;
}

.multiple-services:nth-child(5) {
  grid-row: 2 / 3;
  grid-column: 5 / 7;
}

 /*Moving adjusting image*/
#our-vision {
  background-position: 50%;
}

 /*Aligning margin*/
#our-vision .wrapper {
  margin-left: 320px;
}

#our-team .wrapper h2 {
  margin-left: 320px;
}

/*Creating a grid template to align the members of the team*/
.team-box {
  grid-template-columns: 1fr 1fr;
  margin-left: 320px;
}

/*Adjusting flex to move the content and images*/
.team-persona {
  display: flex;
  justify-content: center;
}

.team-persona:nth-child(2) {
  flex-direction: row-reverse;
}

.team-persona .john-image {
  width: 950px;
  height: 200px;
}









/*Adjusting with float two sections side by side*/
#contact-us {
  margin-left: 320px;
}

#contact-us .form {
  float:left;
  width: 50%;
  padding-bottom: 30px;
}

#contact-us .location {
  float:right;
  width: 50%;
}

#hours-of-operation{
  width: 1200px;
  margin-left: 320px;
}

#hours-of-operation h2{
  width: 1200px;
  margin-left: 0.5px;
  float: left;
}

#location {
  width: 50%;
}

footer p{
  margin-left: 320px;
}

}
