/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



***************************************************

<!------ADDING STYLE------->

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}

body .wrapper {
  padding: 0.8rem;
  margin: auto;
}

header {
  background-color: #222;
}

nav {
  background-color: #c78c06;
  font-weight: bold;
  font-size: 13px;
}

li {
  padding: 15px;
}

a {
  text-decoration: none;
}

nav ul li:nth-child(n+2), nav form{
  background-color: #222;
}

nav ul li:nth-child(1) a{
  color:#222;
}

nav ul li:nth-child(n+2) a{
  color:#c78c06;
}


nav ul, nav form {
  text-align: center;
}


form {
  display: flex;
}

nav form input {
  width: 95%;
  font-size: 11px;
  border: 1px solid #c78c06;
}

form button {
    font-size: 13px;
    background-color: #222;
    color: #c78c06;
    border: 1px solid #c78c06;
}

nav img {
  width: 60px;
  height: 60px;
}


<!------WELCOME SECTION------->

main {
  background-image: url(../images/main-banner.jpg);
}

main .wrapper {
  background-image: url(../images/main-banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

<!------OPACITY BACKGROUND IS NOT WORKING ????------->
#banner {
  background-color: rgba(0, 0, 0, 0.6);
  opacity: 0.6;
  width: 100%
  }
  

main h1 {
  font-size: 55px;
  font-weight: bold;
  line-height: 1.5;

}

main p {
  margin-top: 30px;
  font-size: 11px;
  font-weight: bold;
}

main .wrapper .button {
  font-size: 15px;
  color: #222;
  background-color: #c78c06;
  padding: 24px 22px;
  text-decoration: none;
  font-weight: bold;
  display:inline-block;
  margin-top: 15px;
}

main .wrapper .fa-solid {
  font-size: 17px;
  font-weight: bold;
  color: black;
  background-color: #c78c06;
  margin-left: 5px;
 
}

#about {
  background-color: rgb(243, 222, 182);
  margin: auto;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}

p {
  font-size: 13px;
  line-height: 2;
}

#about img {
  width: 100%;
  height: auto;
}

.multiple-services {
  margin-bottom: 20px;
  background-color: rgb(243, 222, 182);
  padding-bottom: 35px;
}

.multiple-services h3{
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
}

.multiple-services p {
  font-weight: bold;
  padding: 10px;
  font-size: 12px;
  line-height: 1.5;
  margin-bottom: 25px;
}

.multiple-services img {
  width: 100%;
  height: auto;
}

.multiple-services .button-services {
  padding: 20px;
  margin: 10px;
  font-size: 15px;
  font-weight: bold;
  background-color: #222;
  color: white;

}

.multiple-services .fa-solid {
  margin-left: 10px;
  color: white;
  font-size: 20px;

}

/*Adding a background image */
#our-vision {
  background-image: url(../images/vision.jpg);
  background-size: 100% auto;
  color: white;
  height: 210px;
}

/*Defines the and size, color and transparency of the buttom */
.vision-button {
font-size: 13px;
background-color: black;
opacity: 0.6;
color: white;
border: 1px solid #c78c06;
margin top: 10px;
padding: 15px;
}

/*Defines the style and responsive to all elements inside the team box */
.team-box {
  display: grid;
}

.team-persona img {
  width: 100%;
  height: auto;
}


.team-persona .bio {
  background-color: rgb(243, 222, 182);
  margin-bottom: 20px;
  padding: 15px;
}

.team-persona h3 {
  font-size: 25px;
  font-weight: bold;
}

.team-persona h3 {
  font-size: 25px;
  font-weight: bold;
}

.team-persona h5 {
  font-size: 13px;
  font-weight: bold;
  margin-top: 10px;
}

.team-persona p {
  font-size: 11px;
}

/*Adding color to the line (hr) above the paragraph*/
.team-persona hr {
  font-size: 13px;
  font-weight: bold;
  border: 1px solid #c78c06;
}

/*The flex property sets the flexible length (column) on the form items*/
#contact-us form {
  display: flex;
  flex-direction: column;
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 12px;
  row-gap: 10px;
}

/*changing the font style */
#contact-us h2 {
  font-weight: bold;
  font-size: 35px;
  margin-top: 10px;
}

/*changing the font style */
#contact-us h3 {
  font-weight: bold;
  font-size: 20px;
  padding-bottom: 15px;
}

/*adding the width and the space to the form */
#contact-us input {
  padding-bottom: 10px;
  width: 100%;
}

/*changing only the height of the message imput */
#contact-us input[id=message] {
  height: 150px;
}

/*changing the submit buttom style, eliminating the margin and padidng and adding some color*/
#contact-us input[type=submit] {
  width: max-content;
  padding: 0;
  background-color: #222;
  color: #c78c06;
  font-size: 16px;
}

/*changing the font size and style*/
#hours-of-operation h2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: -15px;
}

/*adding the table's size, border and font style*/
table {
border: 1px solid #222;
width: 100%;
height: 100px;
text-align: left;
font-size: 11px;

}

/*adding the color to the head row and style to the content*/
table thead {
  background-color: rgb(243, 222, 182);
  height: 20px;
  text-align: center;
}

/*adding the black border to the entire tablet*/
table, th, td {
  border: 1px solid #222;
}

/*adding margin and padding to a row */
tr {
  line-height: 30px;
  text-indent: 15px;
}

/*changing the map size to fit better on mobile screen  */
#location iframe {
  width: 100%;
  height: 300px;
}

#location h2 {
  margin-top: -10px;
  font-weight: bold;
  font-size: 20px;

}

/*styling the footer, adding some colort*/
footer {
  background-color:#222;
  color: #c78c06;
}

/*link in the same font color as paragraph*/
footer a {
  color: #c78c06;
}

/*changing the paragraph font size*/
footer p {
  font-size: 10px;
}


/*Media query for screen equal or above to 800px wide*/
@media screen and (min-width: 800px){

  /*Navigation section with the same spaces and links in one line*/
 
  nav {
    display: flex;
    justify-content:space-between;
    align-items: center;
    background-color: #222;
    padding: 20px;
  }

  nav ul {
    display: flex;
  }

  nav ul li:first-child {
    background-color: #c78c06;
    width: 70px;
    height: 15px;
  }
}