/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



***************************************************

<!------ADDING STYLE------->

*,
*:before,
*:after {
    box-sizing: border-box;
}

body {
  font-family: 'Open Sans', sans-serif;
  margin: 0;
}

body .wrapper {
  padding: 1.5rem;
  margin: auto;
}

header {
  background-color: #222;
}

nav {
  background-color: #c78c06;
  font-weight: bold;
  font-size: 13px;
}

li {
  padding: 15px;
}

a {
  text-decoration: none;
}

nav ul li:nth-child(n+2), nav form{
  background-color: #222;
}

nav ul li:nth-child(1) a{
  color:#222;
}

nav ul li:nth-child(n+2) a{
  color:#c78c06;
}


nav ul, nav form {
  text-align: center;
}


form {
  display: flex;
}

nav form input {
  width: 95%;
  font-size: 11px;
  border: 1px solid #c78c06;
}

form button {
    font-size: 13px;
    background-color: #222;
    color: #c78c06;
    border: 1px solid #c78c06;
}

nav img {
  width: 60px;
  height: 60px;
}


<!------WELCOME SECTION------->

main {
  color: white;
  padding: 20px 20px;
}

main .wrapper {
  background-image: url(../images/main-banner.jpg);
  background-size: 100%;
  background-repeat: no-repeat;
  color: white;
}

<!------OPACITY BACKGROUND IS NOT WORKING ????------->
#banner {
  background-color: rgba(0, 0, 0);
  opacity: 0.6;
  width: 100%
  }
  

main h1 {
  font-size: 55px;
  font-weight: bold;
  line-height: 1.5;

}

main p {
  margin-top: 30px;
  font-size: 11px;
  font-weight: bold;
}

main .wrapper .button {
  font-size: 11px;
  color: #222;
  background-color: #c78c06;
  padding: 20px 10px;
  text-decoration: none;
  font-weight: bold;
  display:inline-block;
  margin-top: 15px;
}

main .wrapper .fa-solid {
  font-size: 11.8px;
  font-weight: bold;
  color: black;
  background-color: #c78c06;
  padding:19.74px 10px;
  display:inline;
  margin-top: 14px;
  margin-left: -10px;
}

#about {
  background-color: rgb(243, 222, 182);
  margin: auto;
}

h2 {
  margin-top: 20px;
  margin-bottom: 20px;
  font-weight: bold;
  font-size: 30px;
}

p {
  font-size: 13px;
  line-height: 2;
}

#about img {
  width: 100%;
  height: auto;
}

.multiple-services {
  margin-top: 0;
  margin-bottom: 20px;
  background-color: rgb(243, 222, 182);
  padding: 0;
}

.multiple-services h3{
  font-weight: bold;
  padding: 10px;
}

.multiple-services p {
  font-weight: bold;
  padding: 10px;
  font-size: 12px;
  line-height: 1.5;
}

.multiple-services img {
  width: 100%;
  height: auto;
}

.multiple-services .button-services {
  margin: 10px;
  padding: 10px;
  font-size: 11px;
  font-weight: bold;
  background-color: #222;
  color: white;
}

.multiple-services .fa-solid {
  margin-left: -10px;
}


#our-vision {
  background-image: url(../images/vision.jpg);
  background-size: 100% auto;
  color: white;
}

.vision-button {
font-size: 20px;
background-color: black;
opacity: 0.6;
color: white;
border: 1px solid #c78c06;
margin top: 10px;
padding: 15px;
}

.team-box {
  display: grid;
}

.team-persona img {
  width: 100%;
  height: auto;
}


.team-persona .john-bio {
  background-color: rgb(243, 222, 182);
  margin-bottom: 20px;
}

.team-persona .bob-bio {
  background-color: rgb(243, 222, 182);
  margin-bottom: 20px;
}






footer {
  background-color:#222;
  color: #c78c06;
}


@media screen and (min-width: 800px){
  .wrapper {
      width: 800px;
  }